 /*Styling for the body background*/
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #c79c9c;
}

 /* Styling the create Shipment Section */
 h1{
    margin: 0% 0% 0% 0%;
    text-align: center;
}

 #createAshipment{
    margin: 5% 0% 0% 0%;
    position:auto;
    display:block;
}

 .createShipment{
    display:flex;
    margin: 5px 0px 0px 12%;
}

#toform{
       margin:10px 30px 0px 0px;
       overflow: auto;
       top: 0px;
       width: 30%;	
       height:79%;
       padding: 18px 4% 20px 4%;
       border: 1px solid #888;
       box-shadow:	
           0pt 2px 5px rgba(105, 108, 109,  0.7),	
           0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
       border-radius: 30px 30px  30px 0px;	
       background-color: rgba(222, 184, 135, 0.671);
}
#fromform{
    margin:10px 0px 0px 50px;
    overflow: auto;
    top: 0px;
    width: 30%;	
    height:79%;
    padding: 18px 4% 20px 4%;
    border: 1px solid #888;
    box-shadow:	
        0pt 2px 5px rgba(105, 108, 109,  0.7),	
        0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 30px 30px  0px 30px;	
    background-color: rgba(222, 184, 135, 0.671);
}

#loginParticulars{
    padding: 10px;
    text-align: left;
  }

#loginParticulars>input{
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline:none;
  font-size: 120%;
  }

 /* Styling the Parcel Details Section */
 #parcelDetails{
    overflow: auto;
    top: 0px;
    width: 100%;	
    height:79%;
    padding: 18px 0% 20px 0%;
    text-align: center;
    border: 1px 0px solid #888;
    box-shadow:	
        0pt 2px 5px rgba(105, 108, 109,  0.7),	
        0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;	
    background-color: rgba(222, 184, 135, 0.671);
}

.label{
    padding: 2% 0px 0% 0%;
}

#weightLabel,#dimensionLabel,#typeLabel{
    padding: 0% 0px 1% 0%;
}
 #dimension{
    display:flex;
    margin: 0% 0px 1% 40%;
  }
  #dimension>input{
    width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline:none;
  font-size: 100%;
  }

#parcelPreference {
    margin: 1% 0px 0% 0%;
    width: 15%;
    height: 35px;
    padding: 0% 1%;
    border-radius: 5px;
    font-size: 120%;
  }

 #weight{
  width: 15%;
  margin: 1% 0px 0% 0%;
  padding: 0.7% 1%;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 120%;
  outline:none;
  }

/* Turn off number input spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
   -webkit-appearance: none; 
   margin: 0; 
 }
/* Adding asterisk to required inputs */
.required>label:after { 
    content:"*"; 
    color: #e32;
}
#label>label:after { 
    content:"*"; 
    color: #e32;
}

 /* Set a style for all buttons */
#previewButton {
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    padding: 14px 20px;
    margin: 0% 0% 1% 87%;
    border: none;
    cursor: pointer;
    width: 10%;
    border-radius: 10px;
    text-align: center;
    font-size: 120%;
  }
  
  button:hover {
    opacity: 0.8;
  }

 /* Styling the Preview Section */
  #preview{
    margin: 5% 0% 0% 0%;
    position:auto;
    display:none;
    font-size: 130%;
}
p{
    display: inline-block;
}

#shipmentOrderPreview{
 margin: 2% 0% 0% 15%;
 overflow: auto;
 top: 0px;
 width: 60%;	
 height:79%;
 padding: 18px 4% 20px 4%;
 border: 1px solid #888;
 box-shadow:	
     0pt 2px 5px rgba(105, 108, 109,  0.7),	
     0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
 border-radius: 30px 30px  0px 30px;	
 background-color: rgba(222, 184, 135, 0.671);
}

#dimensionPreview>p{
    width: 3%;
  padding: 12px 0px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  outline:none;
  font-size: 100%;
  }

  #particulars{
    padding: 0px 10px 10px 10px;
    margin: 0px 0px 40px 0px;
    font-size: 100%;
    /* text-align: left */
  }

  #buttons{
    display:flex;
    padding: 14px 20px;
    justify-content: space-between;
    margin: 0% 0% 1% 0%;
    border: none;
    width: 100%;
   
  }

  #submitButton,#editButton{
    background-color: rgba(0, 0, 0, 0.705);
     color: white;
     width: 10%;
     font-size: 120%;
     border-radius: 10px;
     text-align: center;
     cursor: pointer;
  }

 
  