/*Styling for the Navigation Section*/
#navBar {
    height: 50px;
    align-content: center;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    background-color:  rgb(182, 178, 207);
    position: fixed;
    width: 100%;
    overflow: hidden;
   

    /* display:flex;
    justify-content: space-between; */
    /* margin-top:0px 0px; */
  }

  .navigation > a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    background-color: #333;
    font-size: 14px;
    height: 18px;
  }

  #headerContent {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #headerLogo {
    height: 10%;
    width:10%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: white;
    border-radius: 50%;
    float: left;
    position:fixed;
  }

  .blink {
    margin:0px 0px 0px 10px;
    font-family: "Sofia";
  }
  
  #blink_caption {
    color: black;
    font-size: 24px;
    float: left;
  }
  #text {
    opacity: 0.6;
    font-family: "Sofia";
    font-size: 18px;
  }

  #contact,
#menu,
#signOut,
#home,
#cart,
#signOut,
#login-nav {
  border-left-style: solid;
  border-left-color: bisque;
  border-right-style: solid;
  border-right-color: bisque;
  border-width: 1px;
  border-radius: 10px;
  margin: 3% 0% 0% 0%;
}

.navigation a:hover {
    background: #ddd;
    color: black;
    cursor: pointer;
  }
  
  .navigation a.active {
    background-color: #ddd;
    color: black;
  }

  p.blink {
    color: red;
  }

  /* For desktop: */
  @media only screen and (min-width: 768px) {
    #contact,
    #menu,
    #signOut,
    #home,
    #cart,
    #signOut,
    #login-nav {
      border-width: 1px;
      border-radius: 10px;
      margin: 0.5% 0% 1% 0%;
      font-size: 100%;
    }
  }

  