/*Styling for the Navigation Section*/
#navBar {
    height: 34px;
    align-content: center;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    background-color: white;
    position: fixed;
    width: 100%;
    overflow: hidden;

    /* display:flex;
    justify-content: space-between; */
    /* margin-top:0px 0px; */
  }

  .navigation > a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    background-color: #333;
    font-size: 14px;
    height: 18px;
  }

  #headerContent {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  #headerLogo {
    height: 10%;
    width:10%;
    padding-top: 15px;
    padding-bottom: 15px;
    background: white;
    border-radius: 50%;
    float: left;
    position:fixed;
  }

  .blink {
    margin:0px 0px 0px 160px;
    font-family: "Sofia";
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  @-moz-keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blinker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  
  #blink_caption {
    color: black;
    font-size: 24px;
    float: left;
  }
  #text {
    opacity: 0.6;
    font-family: "Sofia";
    font-size: 18px;
  }




  #contact,
#menu,
#signOut,
#home,
#cart,
#signOut,
#login-nav {
  border-left-style: solid;
  border-left-color: bisque;
  border-right-style: solid;
  border-right-color: bisque;
  border-width: 1px;
  border-radius: 10px;
}

.navigation a:hover {
    background: #ddd;
    color: black;
    cursor: pointer;
  }
  
  .navigation a.active {
    background-color: #ddd;
    color: black;
  }

  p.blink {
    color: red;
  }

  /*Styling for Screen Size Responsiveness*/
@media (min-width: 400px) and (max-width: 530px) {
  
  .navigation > a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    background-color: #333;
    font-size: 8px;
    height: 7px;
  }

  #navBar {
    height: 15px;
    align-content: center;
    padding: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    background-color: white;
    position: fixed;
    width: 100%;
  }

 
  #headerLogo {
    height: 30px;
    padding-bottom: 5px;
    background: white;
    border-radius: 40%;
    float: left;
  }

  #text {
    display: none;
    opacity: 0.6;
    font-family: "Sofia";
    font-size: 18px;
  }

  
  #fast {
    position: absolute;
    font-size: 20px;
    color: white;
    margin-top: 50px;
    border-radius: 10px;
  }

  #blink_caption {
    display: none;
  }

 
}

@media (min-width: 400px) and (max-width: 530px) {
  
    .navigation > a {
      float: right;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 4px;
      text-decoration: none;
      background-color: #333;
      font-size: 8px;
      height: 7px;
    }
  
    #navBar {
      height: 15px;
      align-content: center;
      padding: 0px;
      margin: 0px;
      top: 0;
      left: 0;
      background-color: white;
      position: fixed;
      width: 100%;
    }
  
    #headerLogo {
      height: 30px;
      padding-bottom: 5px;
      background: white;
      border-radius: 40%;
      float: left;
    }
  
    #text {
      display: none;
      opacity: 0.6;
      font-family: "Sofia";
      font-size: 18px;
    }
  
    #fast {
      position: absolute;
      font-size: 20px;
      color: white;
      margin-top: 50px;
      border-radius: 10px;
    }
  
    #blink_caption {
      display: none;
    }

  }
  
  
  @media (min-width: 532px) and (max-width: 653px) {
  
    #blink_caption {
      display: none;
    }
    #text {
      display: none;
      opacity: 0.6;
      font-family: "Sofia";
      font-size: 18px;
    }
  
    #fast {
      position: absolute;
      font-size: 20px;
      color: white;
      margin-top: 50px;
      border-radius: 10px;
    }
  }
  
  @media (min-width: 655px) and (max-width: 750px) {
   
    #blink_caption {
      display: none;
    }
  
    #fast,
    #blink,
    .blink,
    #text {
      font-family: "Sofia";
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 2s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-name: blinker;
      -moz-animation-duration: 2s;
      -moz-animation-timing-function: linear;
      -moz-animation-iteration-count: infinite;
      animation-name: blinker;
      animation-duration: 2s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  
    @-moz-keyframes blinker {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
    @-webkit-keyframes blinker {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes blinker {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.3;
      }
      100% {
        opacity: 1;
      }
    }
  
    #fast {
      position: absolute;
      font-size: 20px;
      color: white;
      margin-top: 50px;
      border-radius: 10px;
    }
  }
  
  @media (min-width: 758px) and (max-width: 1500px) {
   
    #fast {
      position: absolute;
      font-size: 40px;
      color: white;
      margin-top: 40px;
      margin-left: -20px;
      border-radius: 10px;
    }
  
  }

  