  /*Styling for the body background*/
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
  }

  h3{
    font-family: sofia;
    font-size: 22px;
    margin:0px;
  }

 /* Set a style for all buttons */
button {
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }

  /*Styling for the Footer section*/
  #bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
footer {
    background-color: bisque;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  #footerContent {
    padding-left: 80px;
    padding-right: 80px;
  }

  #terms {
    float: left;
    color: black;
    font-size: 12px;
    text-align: center;
  }

  #socialIcons {
    float: right;
    font-size: 0px;
  }
  #socialIcons a img {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 7px;
  }
  
  #license {
    background-color: burlywood;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    align-content: center;
    bottom: 0;
  }

  /*Styling for newsletter and login div*/
  #flex {
    display: flex;
    margin-bottom: 0px;
    justify-content: space-between;
    height:80%;
    width:100%;
    border-color: blue;
    border:2px solid;
  }  
  
  /*  Styling for the Mail Subscription Section of the Home Page*/
#newsLetter {
    float:left;
    left: 0px;
    position:fixed;
    margin:140px 10px 60px 10px;
    background-color: rgb(148, 84, 84);
    opacity: 0.8;  
    width: 25%;
    height: 50%;
    text-align: center;
  }

  #newsletterTag {
    font-family: sofia;
    font-size: 18px;
    width:25%;
    opacity: 11; 
  }

  .newsLetterBody{
    display: block;
  text-align: left;
  padding: 8px 8px 0px 0px;
  }
  
  .newsLetterBtn{
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 80px;
  }
  
  #newsLetterPreference {
    width: 150px;
    height: 30px;
    border-radius: 5px;
  }
  
  #newsLetterEmail{
    width: 200px;
    height: 20px;
    text-align: left;
    border-radius: 5px;
  }

  .newsletterLabel{
    display: block;
    text-align: left;
    width: 70%;
    margin: 10px 0px 0px 20px;
  }
  .newsLetterInput{
    display: block;
    text-align: left;
    margin-left: 30px;
    width:25%;
    padding: 8px 0px 8px 50px;
  }
  .newsletterLabel > div{
    padding: 8px 8px 8px 0px;
  }

   /* Styling the login/Signin container background */
   form div{
    padding: 8px 8px 8px 0px;
}
#register, 
#login{
       float:left;
       right: 0px;
       margin:34px 10px 0px 10px;
       overflow: auto;
       position: fixed;
       top: 0px;
       width: 25%;	
       height:79%;
       padding: 18px 6% 20px 6%;
       border: 1px solid #888;
       box-shadow:	
           0pt 2px 5px rgba(105, 108, 109,  0.7),	
           0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
       border-radius: 30px 30px  30px 30px;	
       background-color: rgba(222, 184, 135, 0.671);
   }


#login{
display:block;
}

input {
    outline: none; 
  }

#register{	
	display:none;
}

.to_register {
    color:rgba(49, 15, 15, 0.466);
}

#loginBtn,
#submitBtn{
  border-radius: 10px;
  text-align: center;
}
/* Styling for the username and password input fields */
#username,
.password,
#confirmPassword,
#email {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}
#confirmPassword2{
  margin: 90px 0px 0px 0px;
}

  /*Styling for the Password Validation Message which pops out when writting password*/
#message {
    float:left;
    right: 0px;
    display: none;
    background: #f1f1f1;
    color: #000;
    opacity: 0.7;
  }
  
  #message h3 {
    text-align: left;
    font-size: 18px;
  }

  span.notMember {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  .container {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
  }

  #message,
  #validation{
    overflow: auto;
    position: fixed;
  }
  

  /* Styling to add a green text color and a tick when the requirements are met */
.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -15px;
    content: "✔";
  }
  
  .password {
    content: "✔";
    color: green;
  }

  /* Styling to add a green text color and an "✖"  when the requirements are not met */
.invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -15px;
    content: "✖";
  }
  
  #comparePassword {
    padding-top: 5px;
  }

  
/* Center the image and position the close button */
.img_login {
    text-align: center;
    position: relative;
    padding: 5px;
    margin: 5px 0 0px 0;
  }
  
  /*Styling the Fast Food Fast Logo in the login view*/
  .logo {
    width: 40%;
    border-radius: 35%;
  }
  
  .loginParticulars {
    padding: 10px;
    text-align: left;
  }
  
 
 
  